
a{
    color:inherit;
    display: inline-block;
}
img,
svg{
    max-width: 100%;
    vertical-align: middle;
    height: auto;
}
:is(h1,h2,h3,h4,h5,h6){
    font-family: 'Yeseva One','Noto Serif TC', "Noto Sans";
}
:is(h1,h2,h3,h4,h5,h6,p){    
    padding: 0;
    margin: 0;
}
:is(ul,ol,dl){
    margin-block:0;
}

input::placeholder{
    color:$gray;
}
input:not(:placeholder-shown){
    &:is(:invalid){
        border:2px solid $danger;
    }
    &:is(:focus:invalid){
        outline:3px solid $danger;
        outline-offset: -2px;
        border: 0;
    }
}