<div
	class="modal fade"
	id="signup-modal"
	tabindex="-1"
	aria-labelledby="signup-title"
	aria-hidden="true"
>
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
			<div class="modal-header border-3 border-primary">
				<h5
					class="modal-title fw-bold fs-4 flex-grow-1 text-center"
					id="signup-title"
				>
					立刻成為7TAO會員
				</h5>
				<button
					type="button"
					class="btn-close p-0"
					data-bs-dismiss="modal"
					aria-label="Close"
				></button>
			</div>
			<div class="modal-body py-7 py-md-9 text-center">
				<p class=" mb-6 noto-sans">
					立刻成為七逃會員，加速活動報名流程並取得活動優惠資訊。<br />
					您也可以先報名活動，日後再註冊帳號，<br>
					系統會在認證您的Email後，協助您找回舊的訂單。
				</p>
				<a href="#" class="btn btn-primary text-secondary py-2 px-7"
					>立即成為會員</a
				>
			</div>
		</div>
	</div>
</div>
