.index-banner{
  background-size: cover;
  background-position: center;
  height: 518px;
  background-image: url(/assets/images/event/13.jpg);
  @include large-screen{
    height: 350px;
  }


  > div {//content
    height: 100%;
    margin-inline: auto;
  }
}

.act-category{

  a{
    display: grid;
    place-items: center;  
    height: 112px;
    @include large-screen{
      height: 196px;
    }
  }
  
  img {
    height: 40px;
    @include large-screen{
      height: 80px;
    }
  }
}