@each $theme , $color in $theme-colors{
	.text-hover-#{$theme}{
		&:hover{
			color: $color !important;//每次都搶不贏bsஇдஇ
		}
	}
	.bg-hover-#{$theme}{
		&:hover{
			background: $color!important;
		}
	}
}

@for $i from 1 through 10{
	.hover-op-#{$i}{
		&:hover{
			transition:  opacity 500ms;
			opacity: $i * .1;
		}
	}
}

.hover-underline{
    &:hover{
        text-decoration: underline;
        text-decoration-thickness: .1em;
		text-underline-offset: .25em;
    }
}

.hover-spotlight{
	position: relative;
	z-index: 1;
	&::before{
		content: "";
		width: 29px;
		aspect-ratio: 1;
		position: absolute;
		inset: 0;
		z-index: -1;
		background-color: $secondary;
		border-radius: 100vw;
		opacity: 0;
		transform: translateX(-33%) translateY(-10%);
	}

	&:hover::before{
		opacity: 1;
	}
}
